.cartContainer {
    height: auto;
    min-height: 100vh;
    width: 100%;
    background-color: #FFD8D4;
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    justify-content: space-between; 
    padding: 20px;
    z-index: -10;
  }
  
  .card {
    display: flex;
    background-color: #FF988B; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.267); 
    border-radius: 8px; 
    padding: 20px; 
    width: 500%;
    max-width: 900px;
    margin: 20px 0; 
    position: relative;
  }
  
  .imageContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .bookImage {
    width: 150px; 
    height: auto; 
    border-radius: 8px; 
  }
  
  .bookInfo {
    flex: 2;
    padding-left: 5px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .bookInfo h1 {
    margin-top: 0;
    font-size: 26px; 
  }
  
  .bookInfo h2 {
    margin: 5px 0;
    font-size: 20px; 
    font-weight: bolder;
  }

  .bookInfo p {
    margin: 5px 0;
    font-size: 16px; 
  }

  .totalPriceContainer {
    flex: 1;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
    position:sticky;
    right: 50px;
    top: 25%;
    transform: translateY(-50%);
    z-index: 0;
  }
  
  .totalPriceContainer h3 {
    margin: 0;
    font-size: 20px;
  }
  
  .totalPriceContainer p {
    margin: 10px 0;
    font-size: 24px;
    font-weight: bold;
  }

  
.quantityControls {
    display: flex;
    align-items: center;
  }
  
  .quantityButton {
    font-size: 18px;
    padding: 8px 12px;
    background-color: #FF988B;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 5px;
  }
  
  .quantityButton:hover {
    background-color: #FF7A66;
  }
  
  .quantityInput {
    width: 50px;
    text-align: center;
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 4px;
  }
  
  .totalPrice {
    margin: 10px 0;
    font-size: 24px;
    font-weight: bold;
  }

  .deleteButtonContainer{
    position: absolute;
    top: 10px;
    right: 15px;
  }


  .deleteButton {
    font-size: 16px;
    width: 30px;
    height: 30px;
    background-color: #e02d15;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
    
  .deleteButton:hover {
    background-color: #e95510;
  }

  .payButton{
    padding: 10px 20px;
  background-color: #74ac8a; 
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px; 
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
  }
  

  
.payButton:hover {
  background-color: #639170;
}
