.divContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: row;
}

.label{
    font-family: 'Baloo', sans-serif;
    margin-top: 2rem;
    color: rgba(255, 152, 139, 1);
}

.select{
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 2rem;
    font-family: 'Abel', sans-serif;
    
}


.name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    
}

.inputName{
    margin-top: 1rem;
    font-family: 'Abel', sans-serif;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    appearance: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.25rem;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: #4a5568;
    line-height: 1.25;
}

.segundoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.boton{
    margin-top: 2rem;
}

.tercerDiv{
    margin-top: 1rem;
    font-size: 1.5rem;
}

.inputDesc{
    font-family: 'Abel', sans-serif;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    appearance: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.25rem;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: #4a5568;
    line-height: 1.25;
}   
  