/* BackgroundAdmin.module.css */
.dashContain {
    width: 100%;
    display: flex;
  }
  
  .sidebar {
    height: 100vh;
    min-width: 180px;
    background: rgb(205, 205, 205);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
  .sidebutton {
    padding: 10px;
    background-color: #505050;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 17px;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;
  }
  
  .titulo2:hover,
  .sidebutton:hover {
    background-color: #176b87;
  }
  
  .titulo2:active,
  .sidebutton:active {
    background-color: #0e3542;
  }
  
  .contenido {
    flex: 1;
    display: flex; /* Agregar display flex */
    flex-direction: column; /* Asegurarse de que el contenido esté en columna */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
  }
  
  header {
    padding: 10px;
    display: flex;
    align-items: center;
    margin: 0;
  }
  
  header .titulo {
    font-size: 25px;
    color: #ffffff;
    margin-left: 30px;
  }
  
 .titulo1 {
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-family: 'Baloo', sans-serif;
    display: flex;
    align-items: center;
    margin-left: 18px;
  }

  .titulo2 {
    padding: 10px;
    background-color: #505050;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    margin-top: auto; /* Empuja el botón hacia abajo */
  }
  
  .titulo3 {
    color: rgb(255, 255, 255);
    display: flex;
    position: relative;
    font-size: 17px;
    left: 90px;
  }
  
  .hiden {
    display: none;
  }
  
  /* Media queries para ajustar estilos en diferentes tamaños de pantalla */
  @media screen and (max-width: 768px) {
    .dashContain {
      flex-direction: column;
    }
  
    .sidebar {
      min-width: 100%;
      height: auto;
      margin-bottom: 10px;
    }
  
    .contenido {
      width: 100%;
    }
  }
  
  .boton {
    padding: 10px;
    background-color: #176b87;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;
  }