.searchBarContainer {
    margin-bottom: 10px;
  }
  
  .searchBarForm {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    height: 50px;
  }
  
  .searchBarInput {
    display: flex;
    width: 705px;
    height: 40px;
    background-color: #F5F5F5;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 8px;
    color: #371f1f;
    border-radius: 200px;
    margin: 15px;
  }
  
  .searchBarButton {
    background-color: #FF988B;
    color: #FFFFFF;
    width: 60px;
    border-radius: 9999px;
  }
  
  .searchBarButtonContent {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .filtersContainer {
    margin-top: 10px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    
  }
  
  .selectOrder{
    background-color: #FF988B;
    color: #FFD8D4;
    border-radius: 9999px;
    width: 200px;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    margin: 10px;
    font-size: 20px;
  }
  .selectGender {
    background-color: #FF988B;
    color: #FFD8D4;
    border-radius: 9999px;
    width: 200px;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    margin: 10px;
    font-size: 20px;
  }
  .selectMinimo {
    background-color: #FF988B;
    color: #fdf8f7;
    border-radius: 9999px;
    width: 200px;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    margin: 10px;
    font-size: 20px;
  }
  .selectMaximo {
    background-color: #FF988B;
    color: #fdf8f7;
    border-radius: 9999px;
    width: 200px;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    margin: 10px;
    font-size: 20px;
  }
  
  .resetButton {
    background-color: #FF988B;
    color: #FFD8D4;
    width: 100px;
    height: 45px;
    border-radius: 9999px;
    font-size: 20px;
  }
  
  .resetButtonContent {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  