.searchBarContainer {
    margin-bottom: 10px;
  }
  
  .searchBarForm {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    height: 50px;
  }
  
  .searchBarInput {
    width: 615px;
    height: 40px;
    background-color: #F5F5F5;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 8px;
    color: #371f1f;
    border-radius: 200px;
  }
  
  .searchBarButton {
    background-color: #FF988B;
    color: #FFFFFF;
    width: 60px;
    border-radius: 9999px;
  }
  
  .searchBarButtonContent {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  