.editGenderContainer {
    width: 100%;
    display: flex;
  }
  
  .sidebar {
    height: 120vh;
    min-width: 220px;
    background: rgb(205, 205, 205);
    display: flex;
    font-size: 18px;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
  .titulo1 {
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-family: 'Baloo', sans-serif;
    display: flex;
    align-items: center;
    margin-left: 18px;
  }
  
  .titulo2 {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: 'Baloo', sans-serif;
    display: flex;
    align-items: center;
    margin-left: 18px;
  }
  
  .titulo3 {
    color: rgb(255, 255, 255);
    display: flex;
    position: relative;
    font-size: 17px;
    left: 70px;
  }

  .sidebutton {
    padding: 12px;
    background-color: #5d5d5d;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 7px;
    transition: background-color 0.3s ease;
  }
  
  .sidebutton:hover {
    background-color: #176b87;
  }
  
  .sidebutton:active {
    background-color: #c1c4c4;
  }
  
  .boton {
    padding: 8px;
    background-color: #176b87;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 7px;
    transition: background-color 0.3s ease;
  }






/* Volver al estilo anterior */
.backButton {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

/* Estilos para el mensaje de éxito */
.successMessage {
    text-align: center;
    margin-top: 20px;
    color: #5cb85c;
    font-size: 16px;
}

.successIcon {
    font-size: 36px;
    margin-bottom: 10px;
    color: #5cb85c;
}



.formContainer {
    width: 30%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -60%);
}

.formTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 10px;
}

.inputButton {
    padding: 12px 20px;
    background-color: #176b87;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
    width: 150px;
    font:bolder;
}

.inputButton:hover {
    background-color: #0e4e6a;
}

.inputButton:active {
    background-color: #c1c4c4;
}