.container{
    background-color: #ff988b;
    padding: 1rem;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.div1{
    color: white;
    font-size: 3rem;
    font-family: 'Baloo', sans-serif;
    display: flex;
    align-items: center;
}

.botonInicio{
    width: 10rem;
    height: 3rem;
    font-size: 1.5rem;
    background-color: rgba(255, 216, 212, 1);
    color: #ff988b;
    font-family: 'Baloo', sans-serif;
    border: 0;
    margin-left: auto;
    transition: all 0.2s;
}
.botonInicio:hover {
    transform: scale(1.1);
}

.div2{
    z-index: 0;
    color: white;
    display: flex; 
    justify-content: center;
}

.h{
    flex-direction: column;
    align-items: center;
}

.img1{
    width: 20%;
    height: auto;
    margin-left: -1rem;
}

.h1{
    font-family: 'Abel', sans-serif;
    font-size: 4rem;
    margin-left: 2rem;
}

.h2{
    font-family: 'Alegreya Sans', sans-serif;
    margin-top: 1rem;
    font-size: 2rem;
    margin-left: 2rem;
}

.botonHome{
    width: 10rem;
    height: 3rem;
    font-size: 1.5rem;
    background-color: #ffd8d4;
    color: #ff988b;
    font-family: 'Baloo', sans-serif;
    border: 0;
    margin-left: 40rem;
    transition: all 0.2s;
}
.botonHome:hover {
    transform: scale(1.1);
}

.div3{
    z-index: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
    font-family: 'Baloo', sans-serif;
    padding: 1rem;
    margin-top: 3rem;
}

.hCont {
    flex-direction: column;
    align-items: flex-start;
}
.hCont h1 {
    margin-bottom: 1rem;
}
.hCont h2 {
    margin-bottom: 1.5rem; 
    font-size: 2rem;
    margin-left: 18.5rem;
    color:#ffd8d4;
}

.img2{
    width: 20%;
    height: auto;
    margin-right: -2rem;
}

.div4{
    flex-direction: column;
    align-items: flex-start;
    margin-top: -5rem;
}
.div4 h1 {
    color: white;
    font-size: 3rem;
    font-family: 'Baloo', sans-serif;
    justify-content: center;
    display: flex;
}

.cat {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    margin-top: 1rem;
}

.botonCat{
    width: 20%;
    height: 50%;
    background-color: #ffbfb7;
    color: #ff988b;
    font-family: 'Baloo', sans-serif;
    font-size: 2rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

.div5{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 3rem;
    background-color: #ffbfb7;
}

.div5 h1 {
    color: white;
    font-size: 2rem;
    font-family: 'Baloo', sans-serif;
}

.div5 h2 {
    color: white;
    font-size: 2rem;
    font-family: 'Baloo', sans-serif;
}

.div5 h3 {
    color: white;
    font-size: 3rem;
    font-family: 'Baloo', sans-serif;
}

.testimonio {
    display: flex;
    align-items: center; 
    padding: 2rem;
}

.imgTestimonio {
    width: 20%; 
    height: auto;
    
}

.imgReseña{
    width: 20%; 
    height: auto;
}

.testimonioContent {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-left: 2rem; 
} 

.div6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ffd8d4;
    font-family: 'Baloo', sans-serif;
    padding: 1rem;
    color: #ff988b;
    font-size: 2rem;
}
  
.div6 div {
    flex: 1; 
    padding: 0 1rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botonInicio2{
    width: 10rem;
    height: 3rem;
    font-size: 1.5rem;
    background-color: #ff988b;
    color: white;
    font-family: 'Baloo', sans-serif;
    border: 0;
    margin-top: 1rem;
    transition: all 0.2s;
}
.botonInicio2:hover {
    transform: scale(1.1);
}