@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-size: 14px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

::-webkit-scrollbar {
	display: none;
}

@layer components {
	.custom-select {
		@apply relative inline-block;
	}

	.selected-button {
		@apply px-2 py-2 text-lg font-bold  bg-primary border border-gray-400 cursor-pointer;
	}

	.option-button {
		@apply px-2 py-2   text-sm font-bold bg-primary border-b border-gray-400 w-80 cursor-pointer;
	}

	.option-button:last-child {
		@apply border-b-0;
	}

	.inputError {
		@apply h-8 px-4 py-4 w-full text-black bg-primaryLight dark:bg-white border border-red-500 rounded-full shadow-sm focus:outline-none focus:ring-2 focus:ring-red-700 focus:border-transparent;
	}

	.inputSuccess {
		@apply h-8 px-4 py-4 w-full text-black border border-green-500 rounded-full shadow-sm focus:outline-none focus:ring-2 focus:ring-green-700 focus:border-transparent;
	}
}
